<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!--SERVLET TAGS -->
	<servlet>
		<servlet-name>ADD</servlet-name>
		<servlet-class>com.jsp.servlet.cardb.AddCarServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UPDATE</servlet-name>
		<servlet-class>com.jsp.servlet.cardb.UpdateCarServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DELETE</servlet-name>
		<servlet-class>com.jsp.servlet.cardb.DeleteCarServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DISPLAY</servlet-name>
		<servlet-class>com.jsp.servlet.cardb.DisplayCarServlet</servlet-class>
	</servlet>

	<!--SERVLET-MAPPING TAGS -->
	<servlet-mapping>
		<servlet-name>ADD</servlet-name>
		<url-pattern>/add-car</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UPDATE</servlet-name>
		<url-pattern>/update-car</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DELETE</servlet-name>
		<url-pattern>/delete-car</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DISPLAY</servlet-name>
		<url-pattern>/display-car</url-pattern>
	</servlet-mapping>

</web-app>







